<footer class="dark-bg">
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Who we are</h4>
						<a href="index.html"><img class="logo img-intext" src="assets/images/isotipo.svg" alt=""></a>
						<p>A team of profesional developers who live for designing, developing and manufacturing medical instruments.</p>
						<a href="aboutus.html" class="txt-btn">More about us</a>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-6 inner">
					<h4>Documentation</h4>
						
						<div class="row thumbs gap-xs">
														
										<div class="col-xs-6 thumb">
											<a href="pages/products/docs/1600-DR.pdf" target="blank">
								<figure>
															<figcaption class="text-overlay">
																<div class="info">
																		<h4>1600 DR</h4>	
																</div><!-- /.info -->
															</figcaption>
															<img src="pages/products/images/1600_pdf.png" style="width:100%">
														</figure>
							</div><!-- /.thumb -->
										<div class="col-xs-6 thumb">
											<a href="pages/products/docs/2300-GL.pdf" target="blank">
								<figure>
															<figcaption class="text-overlay">
																<div class="info">
																		<h4>2300 GL</h4>	
																</div><!-- /.info -->
															</figcaption>
															<img src="pages/products/images/2300_pdf.png" style="width:100%">
														</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<a href="pages/products/docs/2300-PLUS.pdf" target="blank">
								<figure>
															<figcaption class="text-overlay">
																<div class="info">
																		<h4>2300 PLUS</h4>	
																</div><!-- /.info -->
															</figcaption>
															<img src="pages/products/images/2300-PLUS_pdf.png" style="width:100%">
														</figure>
							</div><!-- /.thumb -->
							
							
							<div class="col-xs-6 thumb">
								<a href="pages/products/docs/sheet.pdf" target="blank">
								<figure>
															<figcaption class="text-overlay">
																<div class="info">
																		<h4>Applications</h4>	
																</div><!-- /.info -->
															</figcaption>
															<img src="pages/products/images/sheet_pdf.png" style="width:100%">
														</figure>
							</div><!-- /.thumb -->
							
						</div><!-- /.row -->
					</div><!-- /.col -->
					
					
						<div class="col-md-3 col-sm-6 inner">
						<h4>Get In Touch</h4>
						<ul class="contacts">
								<li><a href="mailto:informes@metrolab.com.ar"><i class="icon-location contact"></i> Herrera 2246 Buenos Aires (C1295ACR) Argentina</li>
							<li><a href="mailto:informes@metrolab.com.ar"><i class="icon-mobile contact"></i>     +54 (11) 43 02 84 33</li>
							<li><a href="mailto:informes@metrolab.com.ar"><i class="icon-mail-1 contact"></i> informes@metrolab.com.ar</a></li>
						</ul><!-- /.contacts -->
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Free updates</h4>
						<p>Leave your mail for updates & news.</p>
				


<form action="insert.php" method="post">
<p>Email: <input type="text" name="Email" size="20"></p>
<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
</form>
					</div><!-- /.col -->
					
				</div><!-- /.row --> 
			</div><!-- .container -->
		  
			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2014 METROLAB. All rights reserved.</p>
					<ul class="footer-menu pull-right">
						<li><a href="index.html">Home</a></li>
						
						<li><a href="aboutus.html">About us</a></li>
						<li><a href="reagents.html">Reagents</a></li>
						<li><a href="pages/products/details/DR-16">1600 DR</a></li>
						<li><a href="pages/products/details/Metrolab_2300">2300-GL</a></li>
						<li><a href="pages/products/details/Metrolab_2300-PLUS">2300-Plus</a></li>
						<li><a href="form/contact.php">Contact</a></li>
						<li><a href="oem.html">Dealer & OEM</a></li>
					
						
						
					</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>
	