<!DOCTYPE html>
<html lang="en">
<head>
	
	 <%- include partials/head.ejs %>
</head>
<body>
	<header>
		<%- include partials/header2.ejs %>
	</header>
	


		<main>

			<%-body%>

		</main>

	<footer>
		<%- include partials/footer.ejs %>

	</footer>
		

	
</body>

</html>
