
			
			<section id="hero">
				
			
						<figure><img src="assets/banner.png" alt=""></figure>
			<!--	<canvas id="canvas" width="2070px" height="690"style="width: 100%;      min-height: 220px;; float: right"></canvas>-->

				 <div class="fadeIn-3">
									<a href="events" class="btn btn-large">lista de eventos</a>
								</div>
				
			</section>
			
			<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – PRODUCT ============================================================= -->
			
		
						
					
						home
